.container
  footer.bs-docs-footer(role='contentinfo')
      .container
        .bs-docs-social
          ul.bs-docs-social-buttons
            li
              iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=vinitkumar&repo=node-twitter&type=watch&count=true', width='100', height='20', title='Star on GitHub')
            li
              iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=vinitkumar&repo=node-twitter&type=fork&count=true', width='102', height='20', title='Fork on GitHub')
            li
               iframe(src='http://ghbtns.com/github-btn.html?user=vinitkumar&type=follow&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='165', height='20')       
         h3 Written by <a href="http://github.com/vinitkumar">@vinitkumar</a>
         h4 Code licensed MIT
          ul.bs-docs-footer-links.muted
            li
              a(href='https://github.com/vinitkumar/node-twitter') GitHub
