footer.bs-docs-footer(role='contentinfo')
  .container
    ul.bs-docs-footer-links
      li
        a(href='https://github.com/vinitkumar') Vinit Kumar
      |  
      li
        a(href='https://twitter.com/vinitkme') @vinitkme
      |  
    |  
    p
      | Designed and built with all the love in the world by 
      a(href='https://twitter.com/vinitkme', target='_blank') Vinit
      |  using 
      a(href='https://macvim-dev.github.io/macvim/', target='_blank') Vim
      |  and 
      a(href='https://nodejs.org', target='_blank') nodejs
    |  
    p
      | Code licensed 
      a(rel='license', href='https://github.com/vinitkumar/node-twitter/blob/master/License', target='_blank') MIT
      
