body
  header#top.navbar.navbar-static-top.bs-docs-nav(role='banner')
    .container
      nav#bs-navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a.navbar-brand(href='/') Node Twitter
        |  
        ul.nav.navbar-nav.navbar-right
          if (req.isAuthenticated())
            block newtweet
            |  
            li
              a(href="/users/"+req.user.id, title="Profile") Profile
            |  
            li
              a(href="/analytics/", title="analytics") Analytics
            |  
            li
              a(href="/logout", title="logout") Logout
