@import 'base/reset';
@import 'layout/navigation';
@import 'components/tweets';
@import 'components/pagination';
@import 'components/tweet-modal.scss';
@import 'pages/login';
@import 'pages/home';
@import 'pages/profile';
@import 'pages/analytics';
@import 'pages/messaging';
@import 'layout/footer';

/* Media Queries */

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  header.navbar span.logo,
  ul#main-navigation a span {
    display: inline-block;
    text-align: center;
  }
  .information-column .user-stats {
    display: none;
  }
  .logged-user .user-stats-column {
    display: block;
  }
  .first-column .recent-visits,
  .first-column .useful-links {
    display: block;
  }
  .third-column .recent-visits,
  .third-column .useful-links {
    display: none;
  }
  ul#main-navigation i.fa {
    padding-left: 0;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .first-column .recent-visits,
  .third-column .useful-links {
    display: none;
  }
  .third-column .recent-visits {
    display: block;
  }
}

#error-stack-trace {
  background: yellow;
  padding: 20px;
  margin-top: 20px;
}
