@import 'base/reset';
@import 'layout/navigation';
@import 'components/tweets';
@import 'components/pagination';
@import 'components/tweet-modal.scss';
@import 'pages/login';
@import 'pages/home';
@import 'pages/profile';
@import 'pages/analytics';
@import 'pages/messaging';
@import 'layout/footer';

/* Media Queries */

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .information-column .user-stats {
    display: none;
  }
  .logged-user .user-stats-column {
    display: block;
  }
  .first-column .recent-visits,
  .first-column .useful-links {
    display: block;
  }
  .third-column .recent-visits,
  .third-column .useful-links {
    display: none;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .first-column .recent-visits,
  .third-column .useful-links {
    display: none;
  }
  .third-column .recent-visits {
    display: block;
  }
}

#error-stack-trace {
  background: yellow;
  padding: 20px;
  margin-top: 20px;
}
