form(method="post", action="/tweets/"+ tweet._id + "/comments")
  textarea(type='text',class='form-control', name="body", placeholder='Enter the comment')
  button.btn.btn-primary(type='submit') Comment
