#new-tweet-modal.modal.fade
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Compose new Tweet
      .modal-body
        form(method='post', action='/tweets')
          .control-group
            label.control-label(for='tweet')
            .controls
              textarea.flat.form-control(type='text', name='body', placeholder='Enter your tweet here', maxlength='140')
          .form-actions
            button.btn(type='submit') Tweet
