h4.useful-links__title Useful links
ul.useful-links__list
  li
    a(href="https://github.com/vinitkumar/node-twitter/graphs/contributors") Authors
  li
    a(href="https://github.com/vinitkumar/node-twitter/blob/master/License") License
  li
    a(href="http://github.com/vinitkumar/node-twitter") Source Code
  li
    a(href="https://github.com/vinitkumar/node-twitter/issues/new") Report a Bug
