[project]
	description = Twitter clone with node.js
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vinit Kumar (vinitkumar)
[access "refs/for/refs/*"]
	read = group user/Vinit Kumar (vinitkumar)
	push = group user/Vinit Kumar (vinitkumar)
	label-Code-Review = -2..+2 group user/Vinit Kumar (vinitkumar)
	label-Verified = -1..+1 group user/Vinit Kumar (vinitkumar)
	rebase = group user/Vinit Kumar (vinitkumar)
	removeReviewer = group user/Vinit Kumar (vinitkumar)
	submit = group user/Vinit Kumar (vinitkumar)
[access "refs/heads/*"]
	read = group user/Vinit Kumar (vinitkumar)
	create = group user/Vinit Kumar (vinitkumar)
	push = +force group user/Vinit Kumar (vinitkumar)
	pushMerge = group user/Vinit Kumar (vinitkumar)
[access "refs/tags/*"]
	push = group user/Vinit Kumar (vinitkumar)
	push = +force group user/Vinit Kumar (vinitkumar)
