form(method="post", action="/tweets/#{tweet._id}/comments")
  .control-group
    .controls
      textarea(type='text',class='form-control', name="body", placeholder='Enter the comment')
    br
  button.btn.btn-primary(type='submit') Add comment
