extends ../layouts/default

block content
  .container.analytics-container
    h1 Analytics Dashboard: Total visits: #{count}
    table.table.table-bordered
      thead
        tr
          th User
          th URL
          th Visit time
      tbody
        each analytic in analytics
          tr
            - if (analytic.user != null && analytic.url != null)
              td #{analytic.user.name}
              td #{analytic.url}
              td #{analytic.createdAt}


  - if (pages > 1)
    ul.pagination
      != createPagination(pages, page)
