body {
  margin-top: 60px;
  ont-family: verdana;
  font-size: 13px;
}

.red-border {
  border: dashed 2px #95527;
}


.icon-4x {
  font-size: 11em;
}

i {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-inverse .navbar-brand {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}



.navbar {
  height: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.login {
  padding-top: 36px;
}

a:hover {
  text-decoration: none;
}

.login-container {
  text-align: center;
  margin-left: 35%;
  padding: 20px;
  border: 1px dashed #000;
  max-width: 300px;
}


h1, .icon-twitter {
	color: lightskyblue;
}

.modal-title {
	display: inline-block;
}

.profile-image {
	padding-right: 26px;
  height: 100px;
}

.logged-user {
  border-radius: 2px;
  padding: 20px;
  background-color: #f5f5f5;
}

.tweet {
  padding: 5px;
}

.comment {
  font-size: 12px;
}

.btn:hover {
  color: black;
}


.edit {
  margin-right: 10px;
}

.flat {
  border-radius: 0;
}

.logged-user {
 border: 1px dashed red;
  margin-bottom: 20px;
}

.github-btn {
  margin-left: 20px;
}

.logged-user > img {
  padding-bottom: 10px;
}

.new-tweet {
  margin-right: 20px;
}
