body {
  font-size: 13px;
  background-image: url('../img/space-header.jpg');
  background-size: cover;
}

.red-border {
  border: dashed 2px #95527;
}


.icon-4x {
  font-size: 11em;
}

i {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-inverse .navbar-brand {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}



.navbar {
  height: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.login {
  padding-top: 36px;
}

a:hover {
  text-decoration: none;
}

.login-container {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}


h1, .icon-twitter {
	color: lightskyblue;
}

.modal-title {
	display: inline-block;
}

.profile-image {
  border-radius: 50%;
  height: 100px;
  border: 4px solid white;
}

.tweet-image {
  border-radius: 50%;
  height: 40px;
  border: 2px solid white;
}

.logged-user {
  text-align: center;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.tweet {
  padding: 5px;
}

.comment {
  font-size: 12px;
}

.btn:hover {
  color: black;
}


.edit {
  margin-right: 10px;
}

.flat {
  border-radius: 0;
}

.logged-user {
  padding: 20px;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.github-btn {
  margin-left: 20px;
}

.new-tweet {
  margin-right: 20px;
}

.footer-container {
  bottom: 0;
}

.useful-links {
  text-align: left;
  border-radius: 2px;
  padding: 20px;
  background-color: #f5f5f5;
}

header.navbar-static-top {
  margin-bottom: 30px;
}

.modal-content {
  padding: 6px;
}

.analytics-container {
  background: white;
}