// Colors
$dark-jungle-green: #141D26;
$grey-blue: #8899A6;
$dodger-blue: #1DA1F2;
$jungle-green: #2AAF81;
$yankees-blue: #1B2836;
$white: #ffffff;
$go-red: #E53939;
$black: #000;

// Breakpoints
$small: '(min-width: 576px)';
$medium: '(min-width: 768px)';
$large: '(min-width: 992px)';
$xlarge: '(min-width: 1200px)';
