// Any Tweet Modal

.modal-dialog {
  margin-top: 60px;
}

.modal-content {
  background: none;
}

.modal-header {
  background-color: $dark-jungle-green;
  justify-content: center;
  border-bottom: 0;

  button.close {
    color: $grey-blue;
    opacity: 1;
    text-shadow: none;
    position: absolute;
    right: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}

.modal-body {
  background-color: $yankees-blue;
  padding: 20px 15px;
}

.modal {
  padding: 0;
}

.new-tweet__button,
.new-message__button {
  font-size: 14px;
  padding: 4px 10px;
  background-color: #1da1f2;
  color: #fff;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.delete-confirmation__button{
  font-size: 14px;
  padding: 4px 10px;
  background-color: firebrick;
  color: #fff;
  margin: auto;
  margin-top: 10px;
  display: block; }

  .delete-confirmation__button:hover {
    background-color: #ff0000;}