// Pagination

.pagination {
  text-align: center;

  a,
  li.out-of-range {
    padding: 6px 12px;
  }
}

.pagination {
  justify-content: center;
}

.pagination__list {
  display: flex;

  li a {
    color: #fff;
    border-color: #000 !important;
  }

  .no a {
    background-color: #1b2836;
    color: #fff;
  }

  .active a {
    background-color: #1da1f2;
  }
}
