// Pagination

.pagination-container {
  text-align: center;
}

.pagination-container a,
.pagination-container li.out-of-range {
  padding: 6px 12px;
}

.pagination {
  justify-content: center;
}

.pagination li a {
  color: #fff;
  border-color: #000 !important;
}

.pagination .no a {
  background-color: #1b2836;
  color: #fff;
}

.pagination .active a {
  background-color: #1da1f2;
}
