// Any Tweet Modal

.modal-dialog {
  margin-top: 60px;
}

/* New Tweet Modal */

#new-tweet-modal {
  padding: 0;

  .modal-content {
    background: none;
  }

  .modal-header {
    background-color: #1b2836;
    justify-content: center;
    border-bottom: 0;

    button.close {
      color: #8899a6;
      opacity: 1;
      text-shadow: none;
      position: absolute;
      right: 15px;
    }
  }

  .modal-body {
    background-color: #1b3449;
  }

  .form-actions {
    text-align: center;
    margin-top: 10px;
  }

  .btn {
    background-color: #1da1f2;
    color: #fff;
  }

  textarea {
    background-color: #141d26;
    border: solid 2px #1B5881;
    border-radius: 8px;
    &:focus {
      color: #fff;
    }
  }
}
