/* Tweets */

@import '../abstracts/placeholders';

.tweet {
  @extend %block-content;
  color: #fff;
}

.tweet::after {
  content: "";
  clear: both;
  display: block;
}

.tweet__image {
  border-radius: 50%;
  height: 40px;
  border: 1px solid #000;
}

.tweet__description {
  padding-left: 25px;
}

.tweet__content {
  margin: 5px 0 10px;
  word-wrap: break-word;
}

.tweet__username a {
  color: #fff;
  font-weight: bold;
}

.tweet__date,
.tweet__date a {
  color: #8899a6;
}

.tweet textarea.edit-tweet {
  margin: 10px 0 15px;
}

.tweet textarea {
  font-size: 13px;
  background-color: #141d26;
  border-color: #1B5881;
  display: block;
  padding: 6px 12px;
  color: #fff;
  border-radius: 4px;
  width: 100%;
}

.tweet__comments .btn {
  margin: auto;
  display: block;
  margin-top: 10px;
}

.tweets__comment-image {
  border-radius: 50%;
  height: 20px;
  border: 1px solid #000;
  margin-right: 6px;
}
