/* New Tweet Modal */

.modal-content {
  padding: 0
}

.modal-content .modal-header {
  background-color: #1b2836;
  justify-content: center;
  border-bottom: 0;
}

button.close {
  color: #8899a6;
  opacity: 1;
  text-shadow: none;
  position: absolute;
  right: 15px;
}

.modal-body {
  background-color: #1b3449;
}

.modal-content .btn {
  background-color: #1da1f2;
  color: #fff;
}

.modal-content textarea {
  background-color: #141d26;
  border: solid 2px #1B5881;
  border-radius: 8px;
}

.modal-content textarea:focus {
  color: #fff;
}

.modal-content .form-actions {
  text-align: center;
  margin-top: 10px;
}
