extends ../layouts/default

block main
  h1 Tweets


block content
  each tweet in tweets
    .tweet
     a(href="/users/"+tweet.user._id)=tweet.user.name
     p=tweet.body
     p.date= formatDate(tweet.createdAt, "%b %d, %Y at %I:%M %p")
     a.btn(href="#", class="favorite", data-tweetId=tweet._id, title="favorite") Favorite
     if (tweet.user._id == req.user.id)
      a.btn(href="/tweets/"+tweet._id+"/edit", title="Edit") Edit

     p
      br
      h2 Comments
      each comment in tweet.comments
        include ../comments/comment
      include ../comments/form



  if (pages > 1)
    .pagination
      ul
        != createPaginations(pages, page)

