extends ../layouts/default


block content
  .row
    .col-lg-4 
      h1 Enter what's happening here!
    .col-lg-8
      each tweet in tweets
        .well
          .tweet
            .row
              .col-lg-6.pull-left
                h5
                  a(href="/users/"+tweet.user._id)=tweet.user.name
              .col-lg-5.date
                .pull-right
                  = formatDate(tweet.createdAt, "%b %d, %Y at %I:%M %p")
            p=tweet.body
              include ../comments/form
              each comment in tweet.comments
                include ../comments/comment

