extends ../layouts/default


block content
  .row
    .bs-header
      .container
        h1 Node Twitter
        p This is a twitter clone written in nodejs.
  .row
    .col-lg-4
      p Lorem ipsum Proident consequat Excepteur in elit deserunt sed dolore adipisicing Ut sunt ea deserunt voluptate labore sint ea magna eu aliqua dolore in magna.
      p Lorem ipsum Qui do enim dolore magna dolor eu irure in exercitation elit adipisicing nostrud incididunt pariatur ut in laborum minim nisi in incididunt consectetur minim exercitation non fugiat qui consequat officia in dolor aliqua pariatur in Excepteur in sit Ut voluptate cupidatat aliquip culpa Excepteur aliquip deserunt voluptate velit ad mollit adipisicing culpa nisi tempor magna in irure veniam in nulla amet dolor elit sed Excepteur dolore cillum aliquip non nostrud Excepteur enim aliqua deserunt aute in adipisicing elit occaecat consequat sit dolore laboris Duis ea exercitation qui Ut elit veniam tempor nulla sit irure laborum qui incididunt qui consequat voluptate cupidatat incididunt labore est nostrud eu in incididunt reprehenderit ea sit amet in est incididunt elit dolore labore ea exercitation dolor sunt fugiat sint deserunt qui non dolore quis esse amet aute sint minim reprehenderit veniam nostrud reprehenderit dolor irure tempor nostrud voluptate id qui culpa exercitation reprehenderit do cupidatat dolore enim tempor occaecat sunt sint officia anim.
    .col-lg-8
      each tweet in tweets
        .well
          .tweet
            .row
              .col-lg-6.pull-left
                h5
                  a(href="/users/"+tweet.user._id)=tweet.user.name
              .col-lg-5.date
                .pull-right
                  = formatDate(tweet.createdAt, "%b %d, %Y at %I:%M %p")
            p=tweet.body
              include ../comments/form
              each comment in tweet.comments
                include ../comments/comment

