extends ../layouts/default

block main
  .page-header
    h1 Tweets

block content
  .row
    .span8
      each tweet in tweets
        .well
          .tweet
            .row
              .span6.pull-left
                h5
                  a(href="/users/"+tweet.user._id)=tweet.user.name
              .span5.date
                .pull-right
                  = formatDate(tweet.createdAt, "%b %d, %Y at %I:%M %p")
           p=tweet.body
           div(style='padding-bottom: 7px; margin-bottom: 10px;')
             a.favorite.label.label-info(href="#", class="favorite", data-tweetId=tweet._id, title="favorite", style='margin-right: 8px;')
              i.icon-thumbs-up
             if (tweet.user._id == req.user.id)
               a.label.label-info(href="/tweets/"+tweet._id+"/edit", title="Edit")
                i.icon-edit

           #comments-accordion.accordion
            .accordion-group
              .accordion-heading(style='background-color: lightgray; color: gray; font-size: 16px;')
              a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#comments-accordion', href='.collapseOne')
                  i.icon-comments.icon-2x
              .collapseOne.accordion-body.collapse(style='height: 0px;')
                .accordion-inner
                  include ../comments/form
                  each comment in tweet.comments
                    include ../comments/comment
    .span4
