extends ../layouts/default

block main
  h1 Tweets


block content
  each tweet in tweets
    .tweet
     p=tweet.body
     p=tweet.createdAt
     a(href="/users/"+tweet.user._id)=tweet.user.name
     a.btn(href="/tweets/"+tweet._id+"/edit", title="Edit") Edit



  if (pages > 1)
    .pagination
      ul
        != createPaginations(pages, page)

