each tweet in tweets
  .tweet(data-tweetId = tweet._id)
    .col-xs-1
      img(class='tweet-image', src=tweet.user.github.avatar_url)
    .col-xs-11.tweet-description
      span.name-date-group
        span.name
          -var name = tweet.user.name ? tweet.user.name : tweet.user.username
          a(href="/users/"+tweet.user._id) #{name}
        span.date
          a(href="/tweets/"+tweet._id) • #{formatDate(tweet.createdAt, "%b %d, %Y at %I:%M %p")}
      p.tweet-content= tweet.body
      form.center.form-inline.confirm.settings-tweet(action="/tweets/"+tweet.id, method="post")
        if (tweet.user._id == req.user.id)
          a(href="/tweets/"+tweet._id).btn.btn-success.edit Edit
          input(type="hidden", name="_method", value="DELETE")
          button.btn.btn-danger(type="submit") Delete
    .col-xs-12.comment
      if tweet.comments.length > 0
        hr
        each comment in tweet.comments
          include ../comments/comment
      hr
      include ../comments/form
