extends ../layouts/default

block content
  .row#profile-page
    .col-lg-4
      include ../components/profile-card
      a.btn.btn__delete(data-toggle='modal', href='.delete-confirmation')
              span Delete   
    .col-lg-8
      include ../components/tweets
      include ../components/modals/delete-confirmation-modal
