/* Login Page */

.login {
  padding-top: 36px;
}

.login-container {
  text-align: center;
  margin: auto;
}

.github-btn {
  margin-left: 20px;
}

.icon-container {
  margin-left: 6px;
}

.stats-parent-container {
  margin-top: 60px;
}

.login-using-github {
  font-size: 20px;
}
