/* Login Page */

.login {
  padding-top: 36px;
}

.login-container {
  text-align: center;
  margin: auto;
}

.modal-title {
	display: inline-block;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
  float: right;
}

.tweet-image {
  border-radius: 50%;
  height: 40px;
  border: 1px solid #000;
}

.comment-image {
  border-radius: 50%;
  height: 20px;
  border: 1px solid #000;
  margin-right: 6px;
}

.btn:hover,
button:hover {
  cursor: pointer;
}

.btn.edit,
.btn.save {
  margin-right: 10px;
}

.flat {
  border-radius: 0;
}

.github-btn {
  margin-left: 20px;
}

.modal-content {
  padding: 6px;
}

a {
  color: #1da1f2;
}

.edit-tweet-actions {
  margin-top: 10px;
}
