/* Profile Page */

#profile-page .profile-image {
  width: 150px;
  border: 0;
  float: none;
}

#profile-page .profile-summary {
  text-align: center;
}

#profile-page span.profile-handle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.profile-summary .user-information__stats {
  display: block;
}
