/* Profile Page */

@import '../abstracts/placeholders';

.profile__image {
  width: 150px;
  border: 0;
  float: none;
}

.profile {
  @extend %block-content;
  text-align: center;
}

.profile__handle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.profile__image {
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
}

.profile .user-information__stats {
  display: block;
}
