extends ../layouts/default

block content
  .row
    .span2
    .span8
        .row.red-border
            .col-md-4
                a(href="/auth/facebook") Login via Facebook 
            .col-md-4 
                a(href="/auth/github") Login via Github
            .col-md-4
                a(href="/auth/twitter") Login via Twitter
    .span2
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li = error.type

      block auth
