extends ../layouts/default

block content
    .login-container
      h1 Login
        h3
          a(href="/auth/github") Github
            i(class="icon-github")

    if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li = error.type

      block auth
