extends ../layouts/default

block content
  .well
    h3 #{title}
    if (following.length !== 0)
      each user in following
          .well
              a.btn(href="/users/" + user._id)
                img(src=user.github.avatar_url, class='tweet-image following-image')
                span #{user.username}
    else
      h4 Sorry, Seems you have not followed anyone. Consider following people from their profiles