extends ../layouts/default

block content
  .row#profile-page
    .col-lg-4
      include ../components/profile-card
      a.btn(data-toggle='', href='#')
              span Delete
    .col-lg-8
      include ../components/tweets
