extends ../layouts/default

block content
  .row#following-page
    .col-lg-4
      include ../components/profile-card
    .col-lg-8
      if (following.length !== 0)
        .row
          each user in following
            include ../components/followers
      else
        h4 Seems like you have not followed anyone. Consider following people from their profile page.
