head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='twitter written in node js')
  meta(name='author', content='Vinit Kumar')

  title Node Twitter

  link(href='/css/bootstrap/bootstrap.min.css', rel='stylesheet')
  link(href='/css/fontawesome-all.min.css', rel="stylesheet")
  link(href='/css/style.css', rel='stylesheet')
  // Favicon
  link(rel='shortcut icon', href='/img/bird.png')
  script(type='text/javascript', src='/js/jquery.min.js')
  // Bootstrap depedency
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js')
  script(type='text/javascript', src='/js/bootstrap/bootstrap.min.js')
  script(type='text/javascript', src='/js/app.js')
