h4.recent-visits__title Recent Visits
ul.recent-visits__list
  each analytic in analytics
    if analytic.user
      -var name = analytic.user.name ? analytic.user.name : analytic.user.username
      li
        a(href="/users/"+analytic.user._id)= name
          span   (#{moment(analytic.createdAt).format('lll')})
