!!! 5
html(lang='en')
  include ../includes/head
  body
      include ../includes/header
      .container
        block main
        block content
    include ../includes/footer
    include ../includes/foot
