footer(role='contentinfo')
  .container
    p Twitter is a registered trademark of Twitter Inc. This project is just for educational purpose only.
    p
      | Designed and built with all the love in the world by &nbsp;
      a(href='https://github.com/vinitkumar/node-twitter/graphs/contributors', target='_blank') Node Twitter Contributors
      |  using &nbsp;
      a(href='https://nodejs.org', target='_blank') nodejs and other OSS technologies.
    |
    p
      | Code licensed &nbsp;
      a(rel='license', href='https://github.com/vinitkumar/node-twitter/blob/master/License', target='_blank') Apache License 2.0

