body
  header.navbar(role='banner')
    .container
      if (req.isAuthenticated())
        ul.navbar__main-navigation
          li
            a(href="/" title="Home")
              i(class="fa fa-home", aria-hidden="true")
              span Home
          |  
          li
            a(href="/users/"+req.user.id, title="Profile")
              i(class="fa fa-user", aria-hidden="true")
              span Profile
          |  
          li
            a(href="/analytics/", title="analytics")
              i(class="fa fa-line-chart", aria-hidden="true")
              span Analytics

          li
            a(href="/chat/", title="chat")
              i(class="fa fa-comments", aria-hidden="true")
              span Message
          |  
          li
            a(href="/logout", title="logout", class="logout")
              i(class="fa fa-sign-out", aria-hidden="true")
              span Logout
      span.navbar__logo
        a(href='/')
          img(src='/img/bird.svg')
      if (req.isAuthenticated())
        .navbar__profile
        .navbar__new-tweet
          a.navbar__new-tweet-button.btn(data-toggle='modal', href='.tweet-modal')
            span Tweet
  if (req.isAuthenticated())
    #tweet-modal.modal.fade
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Compose new Tweet
          .modal-body
            form(method='post', action='/tweets')
              .control-group
                label.control-label(for='tweet')
                .controls
                  textarea.flat.form-control(type='text', name='body', placeholder='Enter your tweet here', maxlength='140')
              .form-actions
                button.btn(type='submit') Tweet
